body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

.TopBar {
  width: 100%;
  height: auto; /* Adjusted height to be auto for better responsiveness */
  background-color: #17151c;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column; /* Changed flex direction to column on smaller screens */
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Adjusted padding for better spacing */
}

.TopLeft,
.TopRight,
.TopCenter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TopImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 2px 2px #666;
  background-color: #8d918d;
}

.TopIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #8d918d;
  cursor: pointer;
}

.TopList {
  display: flex;
  flex-wrap: wrap; /* Allow list items to wrap on smaller screens */
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center; /* Center list items */
}

.topListItem {
  margin: 10px; /* Adjusted margin for better spacing */
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  color: #2b2b2b;
}

.TopSearchIcon {
  font-size: 18px;
  color: #8d918d;
  cursor: pointer;
  margin-top: 10px; /* Adjusted margin for better spacing */
}
